.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0,0,0,0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  max-width: 90%;
  max-height: 90%;
}

.modal img {
  width: 100%;
  border-radius: 8px;
}
